{% extends 'gallery/base.html' %}

{% block content %}
<div class="gallery-section" style="padding: 20px;">  
    <br/> 
    <!-- Title -->
    <h1>{{ object.title }}</h1>
    <!-- Author -->
    <p class="lead">
        by
        <a href="#">{{ object.author.username }}</a>
    </p>
    {% if request.user %}
        <button type="button" class="btn btn-sm btn-outline-secondary float-right" onclick="location.href='{{ object.get_update_url }}'">EDIT</button>
    {% endif %}
    <hr>

    <!-- Date/Time -->
    <p>Posted on {{ object.created }}</p>

    <hr>

    <!-- Preview Image -->
    {% if object.head_image %}
        <img class="img-fluid rounded" src="{{ object.head_image.url }}" alt="{{ object.title }}">
    {% endif %}
</div>
{% endblock %}