<!DOCTYPE html>
{% load static %}
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Reviews for EasyGo Airport Shuttle{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'basecamp/favi/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google-site-verification" content="hae39L0Kv7JIxVc3YclvckH7Im5SdYa2hk_vZbGJIkA" />
    <!-- SEO Meta Tags-->
    <meta name="description" content="EasyGo airport shuttle bus provide Sydney airport transport service, private ride with the cheap price. ">
    <meta name="keywords" content="EasyGo reviews, EasyGo Airport Shuttle Reviews, reviews for easygo shuttle, reviews for easygo airport transfers">
    <meta name="author" content="easycoding.live">
    <link rel="stylesheet" href="{% static 'review/css/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'review/css/custom.min.css' %}">
    <link rel="stylesheet" href="{% static 'review/css/styles.css' %}">
</head>
<body>
{% include 'review/navbar.html' %}

<div class="container">
    <div class="row">
        <!-- review Entries Column -->        
            {% block content %}
            {% endblock %}            
    </div>
</div>
<!-- footer -->    
<div class="container" style="margin-top: 80px; padding: 0;">
    <div class="footer container-xl width-full p-responsive" role="contentinfo" style="padding-right: 10px;">
        <ul class="list-style-none border-top d-flex justify-content-end">
            <li class="mr-3 mr-lg-2 list-unstyled"><small><a href="#">2024 All rights reserved by EasyGo Airport Shuttle</a></small></li>                    
        </ul>
    </div>
</div>
<script>
    function search_post() {
        var search_value = document.getElementById('search-input').value;    
        if (search_value.trim() === "") {
            alert("Please enter a valid search term.");
        } else {
            location.href = "/review/search/" + encodeURIComponent(search_value) + "/";
        }
    }    
    function wait_for_enterkey() {
        if (window.event.keyCode == 13) {
            search_post();
        }
    }
</script>
<script src="{% static 'review/js/jquery.min.js' %}"></script>
<script src="{% static 'review/js/bootstrap.min.js' %}"></script>
<script src="https://www.google.com/recaptcha/api.js?render={{ RECAPTCHA_V3_SITE_KEY }}" defer></script>
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute("{{ RECAPTCHA_V3_SITE_KEY }}", {action: 'homepage'}).then(function(token) {
                const csrftoken = '{{ csrf_token }}';
                fetch('/recaptcha-verify/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify({recaptchaToken: token})
                }).then(response => {
                    return response.json();
                }).then(data => {
                    if (data.success) {
                        console.log('reCAPTCHA validation succeeded');
                    } else {
                        console.log('reCAPTCHA validation failed:', data.message);
                    }
                });
            });
        });
    </script>
</body>
</html>