/* #changing-background {    
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
} */

/* .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
  }
  
  .ms-n2 {
    margin-left: -0.5rem !important;
  }
  
  .me-2 {
    margin-right: 0.5rem !important;
  } */