{% extends 'basecamp/base.html' %}

{% block content %}
<section class="page-section" id="subpages">
    <div class="container">
        <div class="text-center">
            <h3>교회 주보</h3>
        </div>

        <!-- 파일 업로드 폼 -->
        {% if user.is_authenticated %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}  <!-- 폼 렌더링 -->
            <button type="submit" class="btn btn-primary">주보업로드</button>
        </form>
        {% else %}
            <a href="{% url 'account_login' %}?next={% url 'bulletin_upload' %}" class="btn btn-primary">주보업로드</a>
        {% endif %}
        <!-- 주보 목록 -->
        <div class="bulletin-list mt-4">
            {% for bulletin in bulletins %}
                <div class="bulletin-item">                    
                    <p>날짜: {{ bulletin.date }}</p>
                    {% if bulletin.pdf_file %}
                        <a href="{{ bulletin.pdf_file.url }}" target="_blank" class="btn btn-primary">주보 보기</a>
                    {% else %}
                        <p class="text-danger">PDF 파일이 없습니다.</p>
                    {% endif %}
                </div>
                <hr>
            {% empty %}
                <p>등록된 주보가 없습니다.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

