{% extends 'basecamp/easygo_base.html' %}
{% block content %}
<!-- Hero-->
      <section class="jarallax bg-dark py-0" data-jarallax data-speed="0.1">
        <div class="jarallax-img" style="background-image: url('/static/basecamp/images/vehicle.webp');"></div><span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient opacity-50"></span>
        <a href="/static/basecamp/images/Digital-Certificate.webp">
          <img src="/static/basecamp/images/award-badge.webp" alt="Award Badge" class="award-badge">
        </a>
        <div class="container py-1 py-sm-7 text-center">
          <div class="py-md-6">
            <br>
            <br>
            <br>
            <h1 class="text-light pb-1">AboutUs of EasyGo</h1>
            <p class="fs-lg text-light pb-3">Please text your inquiry to this number: 0406 883 355</p>
          </div>
        </div>
      </section>
      <!-- Booking form-->
      <div class="container position-relative zindex-5" style="margin-top: -68px;">
        <div class="d-lg-flex align-items-center bg-secondary border rounded-3 px-4 pt-4 pb-3">
          <div class="entry-content">
          <div id="pl-5"><div class="panel-grid" id="pg-5-0" ><div class="panel-grid-cell" id="pgc-5-0-0" ><div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-5-0-0-0" data-index="0"><h1 class="widget-title"></h1>
            <div class="textwidget" >
              <h1>
                7 things about us:
              </h1>
              <div class="entry-content"><div id="pl-11"><div class="panel-grid" id="pg-11-0" style="margin-bottom: 0px;" ><div class="panel-grid-cell" id="pgc-11-0-0" ><div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-11-0-0-0" data-index="0"><h3 class="widget-title"><sapn style="color: #eb7828">EASYGO</sapn> TRANSPORT – INFORMATION</h3><br><div class="textwidget"><ul>

              <ul>
                <li class="decimal"><span class="num">1.</span> At EasyGo Airport Shuttle, we offer our passengers a direct, express service without any additional stops, sharing or extra costs</li>
              </ul>
              <br>
              <ul>
                <li class="decimal"><span class="num">2.</span> Our airport shuttle service is known for providing quick and efficient transport to</li>
              </ul>
                <ul>
                  <li class="list-style">&nbsp; <i class="fal fa-ellipsis-h">&nbsp; Sydney airport, Sydney hotel, office or home</i></li>
                  <li class="list-style">&nbsp; <i class="fal fa-ellipsis-h">&nbsp; For single passengers, large family or corporate group</i></li>
                </ul>
                <br>

                <ul>
                  <li class="decimal"><span class="num">3.</span> We take pride in being the easiest and most cost-effective airport shuttle service. Our prices are fixed, regardless of traffic congestion, and our authorized vehicles can use the 'BUS LANE,' which is not accessible to other ride-hailing services such as Uber or Ola.</li>
                </ul>

                <br>
                <ul>
                  <li class="decimal"><span class="num">4.</span> Our shuttle buses are spacious and can accommodate plenty of luggage. We offer a door-to-door service, meaning we pick you up from your location and drop you off at your desired destination.</li>
                </ul>

                <br>
                <ul>
                  <li class="decimal"><span class="num">5.</span> Our meet and greet service offers a warm welcome to our customers. Our drivers will be waiting for you at your destination, eager to help you with your bags.
                  </li>
                </ul>
                <br>
                <ul>
                  <li class="decimal"><span class="num">6.</span> EasyGo Airport Shuttle also offer...,
                    <ul>
                      <li>Cruise Ships connection service</li>
                      <li>Service to Concerts, Weddings, Night events, and Sporting Events</li>
                      <li>Group touring</li>
                    </ul>
                    <p>...and more! If you have a group, we can move them. No party is too small or too large!</li>
                </ul>
                <ul>
                  <li class="decimal"><span class="num">7.</span> Our goal is to get you to your destination without any hassle. We take pride in our work, and our drivers treat all passengers with polite and considerate manners. We love what we do, and we believe it shows in our service</li>
                </ul>
              <br>
              </ul></div></div>
          </div></div><div class="panel-grid-cell" id="pgc-5-0-1" ><div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-5-0-1-0" data-index="1">
          </div>
          </div></div></div><div class="panel-grid" id="pg-5-1" ><div class="panel-grid-cell" id="pgc-5-1-0" ><div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-5-1-0-0" data-index="2"><div class="textwidget"><p><center><span class="thick" style="color: #eb7828">All our drivers are covid tested and fully vaccinated.</span></center></p><br>
          </div>
          </div></div></div></div>					</div>
        </div>
            <br>
          </div></div>
          </div></div></div>
{% endblock %}