{% extends 'basecamp/easygo_base.html' %}
{% block content %}
<!-- Hero-->
      <section class="jarallax bg-dark py-3" data-jarallax data-speed="0.1">
        <div class="jarallax-img" style="background-image: url('/static/basecamp/photos/back4.webp');"></div>
        <a href="/static/basecamp/images/Digital-Certificate.webp">
          <img src="/static/basecamp/images/award-badge.webp" alt="Award Badge" class="award-badge">
        </a>
        <div class="container py-5 py-sm-7 text-center">
          <div class="py-md-6">
            <p></p>
            <br>
            <h1 class="text-light pb-1">Information of EasyGo</h1>
            <p class="fs-lg text-light">Makes it easier to experience the transport.</p>
          </div>
        </div>
      </section>
      <!-- Booking form-->
      <form class="container position-relative zindex-5" style="margin-top: -68px;">
        <div class="d-lg-flex align-items-center bg-secondary border rounded-3 px-4 pt-4 pb-3">
          <div id="main" class="site-main">
            <div class="full-container">
              <div id="primary" class="content-area">
                <div id="content" class="site-content" role="main">
                  <article id="post-11" class="post-11 page type-page status-publish hentry post">
                    <div class="entry-main">
                      <header class="entry-header">
                        <h1 class="entry-title">Information</h1>
                      </header><!-- .entry-header -->
                      <div class="entry-content">
                        <div id="pl-11"><div class="panel-grid" id="pg-11-0" style="margin-bottom: 0px;" ><div class="panel-grid-cell" id="pgc-11-0-0" ><div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-11-0-0-0" data-index="0"><h3 class="widget-title"><span style="color: #eb7828">EASYGO</span> AIRPORT SHUTTLE – INFORMATION</h3><br><div class="textwidget">
                          <ul style="list-style-type: disc;">
                            <li>All fares include the airport parking fee. Furthermore, in the even of a delayed flight and a driver needing to wait, there will be no extra charge. We are also able to send a replacement driver to ensure that our clients are met on time.</li><br>
                            <li>All cancellations should be made as soon as possible. We cannot guarantee a refund on short notice. You are eligible for a 100% refund on your booking, with no cancellation fees, for cancellations greater than 24 hours prior to your pick-up departure time. You are not eligible for any refund on your booking for cancellations 24 hours or less prior to your pick-up departure time.</li><br>
                            <li>We cannot accept responsibility for delayed or cancelled flights, or for traffic incidents that are beyond our control. We get our passengers to the airport on schedule, and have an advantage with optimizing routes and the use of bus lanes; but we will not be held responsible for failed pickups or problems arising from the incorrect information.</li><br>
                            <li><span class="thick" style="color: #eb7828">Booking must be made at least 24 hours prior to the flight through our website.</span> if you need to make a booking within 24 hours of your flight, please contact us as soon as possible.</li><br>
                            <li>Our company bank details for online banking and direct deposit can be provided only by email or txt inquiry.</li>
                          </ul>
                        </div>
                        <div class="panel-grid" id="pg-11-1" ><div class="panel-grid-cell" id="pgc-11-1-0" ><div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-11-1-0-0" data-index="1">
                          <div class="textwidget">
                            <ul style="list-style-type: disc;">
                              <li>Some larger items may incur an additional fee or shall not be transported >> <a class="nav-link-style nav-link-light" href="/terms/">Terms &amp; Conditions</a></li><br>                              
                              <li>Fares may be subject to change without notice.</li><br>
                              <li>Any redirection, additional pick up or drop off, or requests for a SIM card at the airport must be communicated to our base and are subject to approval based on our schedule. An extra charge will apply</li><br>
                              <li><span class="thick" style="color: #eb7828">For departure, Delays greater than 5 mins from booking time (pickup time) creates last min reschedule expenses and additional liabilities to other scheduled passengers, additional charge will apply.</span></li><br>
                              <li><span class="thick" style="color: #eb7828">For departure, Additional waiting time charges may apply to your trip if the driver has waited 5 minutes: $2 per minutes</span></li><br>
                              <li>Returning to the pickup location while en route will incur an additional charge of $2 per minute. Please note that the driver may refuse this request under certain circumstances, especially if it could cause delays to subsequent schedules or is not feasible due to time constraints.</li><br>
                              <li>Passengers should be responsible for their own luggage. We do not accept liability for any damage. If you are missing anything please contact us immediately.</li><br>
                              <li>Our communications with our clients will be conducted via email. It is your responsibility to regularly check your email. We will not be held liable for any issues arising from failure to check or respond to emails.</li><br>
                            </ul>
                          <br>
                        </div>
                        <div class="panel-grid-cell" id="pgc-11-1-1" ><div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-11-1-1-0" data-index="2">
                        </div>
                        <div class="panel-grid" id="pg-11-2" ><div class="panel-grid-cell" id="pgc-11-2-0" ><div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-11-2-0-0" data-index="3"><h3 class="widget-title">Price Information >>> <a href=/more_suburbs?>click here</a></h3>			
{% endblock %}