{% extends 'basecamp/easygo_base.html' %}
{% block content %}
<!-- Masthead-->
<header class="base_masthead">
    <div class="container">
        <div class="masthead-subheading"></div>
        <div class="masthead-heading text-uppercase welcome-text"></div>
        <div class="masthead-subheading"></div>
    </div>
    <!-- Notice Box -->
    <!-- <div class="notice-box">
        <p>공지사항: 예배시간 변경되었습니다!</p>
        <p>주일예배: 오후 1시 </p>
    </div> -->
</header>
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">교회안내</h2>
            <h3 class="section-subheading text-muted">건강한 교회, 성숙한 교회, 섬기는 교회</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">주일예배</h4>
                <p class="text-muted">상한 마음과 목마른 영혼이 소생하는 예배 바른 진리의 말씀이 선포되는 예배로 초대합니다. 말씀의 깊이와 넓이를 더해주고, 그 말씀을 따라 살아가도록 이끌어 줍니다.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">하나님의 말씀</h4>
                <p class="text-muted">성경 66권을 차례대로 공부합니다. 담임목사의 강해와 참여자들의 질문과 토론이 함께 어우러지는 실제적인 성경공부 시간입니다. </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">갤러리</h4>
                <p class="text-muted">새언약 교회와 성도님들의 다양한 모습들을 사진으로 담았습니다. 사진은 계속 업데이트되며 여러분들도 사진의 추억속에 함께 하기를 소망합니다!</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
