{% extends 'basecamp/easygo_base.html' %}
{% block content %}
      <!-- Page content-->
      <!-- Page title-->
      <section class="jarallax bg-gradient pt-5 pb-7 pt-md-7" data-jarallax data-speed="0.1"><span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient opacity-70"></span>
        <div class="jarallax-img" style="background-image: url('/static/basecamp/images/page-title-bg.webp');"></div>
        <div class="shape shape-bottom shape-slant bg-body">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
            <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
          </svg>
        </div>
		  <br>
		  <br>
        <div class="container position-relative zindex-5 pt-3 pb-7 pt-md-0">
          <div class="row justify-content-center pb-7">
            <div class="col-lg-10">
              <h3 class="text-light">Payment Options</h3>
              <div class="active" style="color:white">Please choose your option below</div>
            </div>
          </div>
        </div>
	</section>

 	<section class="container position-relative zindex-5 px-0 px-xl-3">
        <div class="row">
          <div class="col-lg-7 col-md-7 pb-2 mb-5" style="margin-top: -260px;">
            <div class="card border-1 shadow-lg">
      <!-- Page content-->
      <!-- Page title-->	 
      <!-- Contact form + details-->
              <form class="card-body p-5" style="margin: 40px;">
                1. <strong>Online payment through PayPal</strong>: You can make payments online through our website.<br><br> 
                &nbsp; • &nbsp;<a href="/payonline/">easygoshuttle.com.au/payonline</a> <br><br><hr>
                2. <strong>Online payment through Stripe</strong>: You can make payments online through Stripe.<br><br> 
                &nbsp; • &nbsp;<a href="https://buy.stripe.com/7sIcP940RbKH7LO6ow">Stripe link</a> for easygo airport shuttle <br><br><hr>
                3. <strong>PayID</strong>: You can choose your preferred PayID below<br>
                &nbsp; • &nbsp;Mobile PayID : 0406 883 355<br>
                &nbsp; • &nbsp;Email PayID: info@easygoshuttle.com.au<br><br>
                <span style="color: #eb7828;">Please email the receipt</span><hr><br>                                               
                Please choose the method that is most convenient for you to proceed with the payment.<br><br> 
              </form>            
            </div>
          </div>          
			<div class="col-lg-4 col-md-4 offset-md-1">
				<!-- Categories Widget -->
				<div class="card my-4" id="category-card" >
				  <h5 class="card-header" style="color:red">Note!</h5>
				  <div class="card-body" >
					  <div class="row">
						  <div class="col-lg-10 list-unstyled">
							  <li>
								  <p><strong>If the name and email you use for online payment differ from those used for booking, 
                    please notify us to confirm that the payment has been processed.</strong></p>								  
							  </li>
						  </div>
					  </div>
				  </div>
				</div>
				
			  </div>
			</div>
		</section>	
{% endblock %}


