<!DOCTYPE html>
{% load static %}
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}View more suburbs for EasyGo Airport Shuttle{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'basecamp/favi/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google-site-verification" content="hae39L0Kv7JIxVc3YclvckH7Im5SdYa2hk_vZbGJIkA" />
    <!-- SEO Meta Tags-->
    <meta name="description" content="This is the review page for people who have used our EasyGo Airport Shuttle service">
    <meta name="keywords" content="reviews easygo shuttle, reviews easygo, reviews for easygo airport shuttle, customer reviews for easygo service">
    <meta name="author" content="EasyGo Airport Shuttle">
    <link rel="stylesheet" href="{% static 'easygo_review/css/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'easygo_review/css/custom.min.css' %}"> 
</head>
<body>

{% include 'easygo_review/navbar_sub.html' %}

<div class="container">
    <div class="row">
        <!-- easygo_review Entries Column -->
        
            {% block content %}
            {% endblock %}    
        
    </div>
</div>

<!-- footer -->    
<div class="container" style="margin-top: 80px; padding: 0;">
    <div class="footer container-xl width-full p-responsive" role="contentinfo" style="padding-right: 10px;">
        <ul class="list-style-none border-top d-flex justify-content-end">
            <li class="mr-3 mr-lg-2 list-unstyled"><small><a href="#">2024 All rights reserved by EasyGo Airport Shuttle</a></small></li>                    
        </ul>
    </div>
</div>
<script src="{% static 'easygo_review/js/jquery.min.js' %}"></script>
<script src="{% static 'easygo_review/js/bootstrap.min.js' %}"></script>

</body>
</html>